html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

.carousel-text {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-primary);
  white-space: nowrap;
}

.carousel-text--fill {
  color: var(--text-primary);
  -webkit-text-stroke: unset;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide-overflow {
  overflow: hidden;
}
