@import url("vars.css");
@import url("normalize.css");
@import url("libs.css");
@import url("global.css");

/* header */

.header {
  padding-top: 38px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 38px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 100px;
}

.menu__link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
  white-space: nowrap;
  transition: opacity 0.15s;
}

.menu__settings-btn {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/gear.svg");
  background-repeat: no-repeat;
}

.switcher {
  display: flex;
  width: 76px;
  height: 38px;
  border: 2px solid var(--text-primary);
  border-radius: 19px;
  position: relative;
}

.switcher__radio {
  appearance: none;
  width: 36px;
  height: 34px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: filter 0.15s;
}

.switcher__radio:focus {
  outline: none;
}

.switcher__radio--light {
  background-image: url("../images/icons/light.svg");
  background-position: left calc(50% - 1px) center;
}

.switcher__radio--dark {
  background-image: url("../images/icons/dark.svg");
  background-position: right calc(50% - 1px) center;
}

.switcher__status {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 76px;
  height: 38px;
  z-index: -1;
  border-radius: 19px;
  background-image: url("../images/icons/selected.svg");
  background-repeat: no-repeat;
  transition: background-position 0.15s;
}

.switcher__radio:focus-visible ~ .switcher__status {
  box-shadow: 0 0 0 1px #000;
}

.switcher__radio--light:checked ~ .switcher__status {
  background-position: left center;
}

.switcher__radio--dark:checked ~ .switcher__status {
  background-position: right center;
}

/* intro */

.intro {
  padding-top: 100px;
}

.intro__phrase {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.intro__phrase .carousel-text {
  font-size: 72px;
  line-height: 1;
}

.intro__phrase .carousel-text:not(:last-child) {
  margin-right: 45px;
}

.intro__wrapper {
  position: relative;
  z-index: -1;
  user-select: none;
}

.intro__pic {
  padding-bottom: 100px;
}

/* projects */

.projects {
  padding-top: 100px;
}

.projects__photos {
  margin-bottom: 100px;
}

.projects__photos .slick-slide {
  margin: 0 50px;
}

.projects__img{
  transition: opacity 0.25s;
}

.projects__names {
  margin-bottom: 100px;
}

.projects__names .slick-slide {
  margin: 0 25px;
}

.projects__btn {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  text-transform: lowercase;
  color: var(--text-tertiary);
  transition: color 0.15s;
}

.projects__names .slick-current .projects__btn {
  color: var(--text-primary);
}

/* clients */

.clients__inner {
  padding: 100px 0;
}

.review {
  display: grid;
  justify-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.review__quote {
  font-size: 72px;
  font-weight: 400;
}

.review__author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__cite {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  margin-bottom: 25px;
}

.review__position {
  color: var(--text-secondary);
}

/* gallery */

.gallery {
  padding-bottom: 100px;
}

.gallery__img-box {
  margin-bottom: 100px;
}

/* about */

.about {
  padding: 100px 0;
  background-color: var(--bg-secondary);
}

.about__words {
  font-size: 96px;
  text-align: center;
  margin-bottom: 100px;
}

.about__words .carousel-text:not(:last-child) {
  margin-bottom: 50px;
}

/* contact */

.contact__inner {
  padding: 100px 0;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__descr {
  max-width: 995px;
  font-size: 36px;
  margin-bottom: 100px;
}

.contact__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 433px;
  height: 1px;
}

.contact__form {
  max-width: 705px;
  width: 100%;
}

.contact__fieldset {
  display: flex;
  flex-direction: column;
}

.contact__input {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--text-primary);
}

.contact__input:not(:last-child) {
  margin-bottom: 50px;
}

.contact__input::placeholder {
  color: var(--text-secondary);
}

.contact__input:focus {
  outline: none;
}

.contact__submit {
  width: max-content;
  font-weight: 500;
  padding-right: 31px;
  transition: opacity 0.15s;
}

.contact__submit::after {
  width: 21px;
  height: 18px;
  background-image: url("../images/icons/send.svg");
}

.contact__separator {
  width: 2px;
  height: 100%;
  background-color: var(--border-primary);
}

.contact__link {
  color: var(--text-secondary);
  white-space: nowrap;
}

.contact__group:not(:last-child) {
  margin-bottom: 50px;
}

.contact__name {
  margin-bottom: 10px;
}

/* footer */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.footer__list,
.socials {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child),
.socials__item:not(:last-child) {
  margin-right: 50px;
}

.socials__link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  transition: opacity 0.15s;
}

.socials__link--dribbble {
  background-image: url("../images/icons/dribbble.svg");
}

.socials__link--facebook {
  background-image: url("../images/icons/facebook.svg");
}

.socials__link--instagram {
  background-image: url("../images/icons/instagram.svg");
}

.socials__link--twitter {
  background-image: url("../images/icons/twitter.svg");
}

.footer__copy {
  padding: 39px 0;
  background-color: var(--bg-tertiary);
}

.footer__copy p {
  font-size: 18px;
  color: var(--text-secondary);
}

/* hover effects */

.menu__link:hover,
.link:hover,
.socials__link:hover,
.contact__submit:hover,
.projects__img:hover {
  opacity: 0.7;
}

.projects__img:hover{
  opacity: 0.85;
}

@import url("media.css");
