:root {
  --bg-primary: #000;
  --bg-secondary: #1f1f1f;
  --bg-tertiary: #1f1f1f;
  --text-primary: #eee;
  --text-secondary: #9e9e9e;
  --text-tertiary: #212121;
  --border-primary: #212121;
  --scroll-track: #9e9e9e;
}

.switcher__radio,
.invert,
.invert-decor::after {
  filter: invert(0.93);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(0.93);
}
